table{
    border-collapse: collapse;
    border: 1px solid #000;
    margin: 0 auto;
    margin-top: 20px;
    overflow-x: scroll;
}
table tr th{
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
    background-color: #000;
    color: #fff;
}
table tr td{
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}
.home{
    background:#FFF9DE;
}
.welcome{
    width:31%;
    text-align: right;
}
.welcome h1{
    margin-top: 20px;
    font-weight: 400;
}
@media screen and (max-width: 900px) {
    .home{
        padding: 10px;
    }
    table tr th{
        font-size: 12px;
    }
    table tr td{
        font-size: 12px;
    }
}